@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

::selection {
	background-color: transparent;
}

* {
	font-family: 'Graduate', cursive;
	letter-spacing: 3px;
	margin: 0;
	padding: 0;
}

body {
	background-color: #262633;
}

header {
	width: 100%;
	background-color: #fff;
	color: #000;
	text-align: center;
	height: 60px;
	line-height: 60px;
	font-size: 30px;
}

.move {
	width: 100px;
	height: 100px;
}

.move img {
	width: 100px;
	height: 100px;
	border-radius: 10px;
	position: relative;
	visibility: hidden;
}

.move .paper {
	top: -100px;
}

.move .scissors {
	top: -200px;
}

.score_board {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.score {
	width: 500px;
	height: 200px;
	border: 3px solid #fff;
	margin-top: 40px;
	border-radius: 5px;
	color: #fff;
	font-size: 80px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

}

.score::before {
	content: "USER";
	font-size: 18px;
	background-color: #dd4235;
	padding: 5px 10px;
	border-radius: 5px;
	position: absolute;
	left: 0px;
}

.score::after {
	content: "COMP";
	font-size: 18px;
	background-color: #dd4235;
	padding: 5px 10px;
	border-radius: 5px;
	position: absolute;
	right: 0px;
}

h3 {
	color: #fff;
	font-size: 30px;
	margin-top: 50px;
	text-align: center;
}

.chose {
	display: flex;
	justify-content: space-evenly;
	margin-top: 50px;
}

.chose div img {
	width: 150px;
	height: 150px;
	border-radius: 30px;
	cursor: pointer;
}

.result {
	font-size: 40px;
	color: white;
	text-align: center;
	margin-top: 50px;
}

.play_again {
	display: flex;
	justify-content: center;
	margin: 50px;
}

.play {
	padding: 18px 50px;
	font-size: 30px;
	background-color: #dd4235;
	/* background-image: url('../images/play_background.jpg');
	background-size: cover; */
	font-weight: bold;
	color: #fff;
	border-radius: 10px;
	border: 2px solid #fff;
	visibility: hidden;
}

.play:hover {
	padding: 19px 51px;
}
